<div class="card">
  <img [src]="img" />
  <div class="details">
    <h2>Card Title</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
      voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
      eveniet suscipit aspernatur similique neque. Quis hic ut enim culpa
      quisquam error dolore in voluptatibus. A rerum modi veritatis? Architecto,
      eligendi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed
      nam iste quia, sapiente laborum ipsum vitae quam, similique magnam ea amet
      explicabo officia minus reprehenderit praesentium rerum? Minima, ea eos.
    </p>
    <button class="read-more">Read More</button>
    <button class="buy-now">Buy Now</button>
  </div>
</div>
