:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  container-type: inline-size;
  container-name: card;

  .card {
    border: 1px solid blue;
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;

    img {
      width: 300px;
      height: fit-content;
    }

    .details {
      padding: 10px;

      button {
        margin-right: 10px;

        &.read-more {
            background-color: lightblue;
        }

        &.buy-now {
            background-color: lightgreen;
        }
      }
    }
  }

  @container card (max-width: 500px) {
    .card {
      border: 5px solid orange;
      flex-direction: column;
      justify-content: start;
      overflow: hidden;

      img {
        width: 100%;
        height: fit-content;

        &:hover {
          transform: scale(1.1);
          transition: transform 0.5s;
        }
      }

      .details {
        display: flex;
        flex-direction: column;

        button {
          margin-top: 10px;
          height: 30px;
          font-weight: bold;
        }
      }
    }
  }
}
